{% include base_path %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    
    <h2>Conference</h2>
    <ul>
      <li>Qiqi Wang, Ruofan Wang, Kaiqi Zhao, Robert Amor, Benjamin Liu, Xianda Zheng, Zeyu Zhang, <b>Zijian Huang</b>. 
        "Towards Legal Judgment Summarization: A Structure-Enhanced Approach" 
        in Proceeding of the 26th European Conference on Artificial Intelligence, 2023. <b>[ECAI ’23]</b>
      </li>
      <li><b>Zijian Huang</b>, Meng-Fen Chiang, Wang-Chien Lee. 
        "LinE: Logical Query Reasoning over Hierarchical Knowledge" 
        in Proceeding of the 28th ACM SIGKDD Conference on Knowledge Discovery and Data Mining, Washington, DC, Aug. 2022. <b>[KDD ’22]</b>
        <a href="{{ "http://nelsonhuangzijian.github.io/files/LinE_Logical_Query_Reasoning_over_Hierarchical_Knowledge_Graphs.pdf" }}"><u>[pdf]</u></a>
        <a href="{{ "https://github.com/nelsonhuangzijian/LinE" }}"><u>[code]</u></a>
      </li>
     </ul>
  </article>
</div>
