{% include base_path %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    
    <h2>Conference</h2>
    <ul>
      <li>
          <b>Towards Legal Judgment Summarization: A Structure-Enhanced Approach</b>
          <a href="{{ "https://www.researchgate.net/publication/374305915_Towards_Legal_Judgment_Summarization_A_Structure-Enhanced_Approach" }}"><u>[pdf]</u></a><br>
          Qiqi Wang, Ruofan Wang, Kaiqi Zhao, Robert Amor, Benjamin Liu, Xianda Zheng, Zeyu Zhang, <b>Zijian Huang</b>.<br>
          The 26th European Conference on Artificial Intelligence (ECAI' 23)
      </li>
      <li>
          <b>LinE: Logical Query Reasoning over Hierarchical Knowledge</b>
          <a href="{{ "http://nelsonhuangzijian.github.io/files/LinE_Logical_Query_Reasoning_over_Hierarchical_Knowledge_Graphs.pdf" }}"><u>[pdf]</u></a>
          <a href="{{ "https://github.com/nelsonhuangzijian/LinE" }}"><u>[code]</u></a><br>
          <b>Zijian Huang</b>, Meng-Fen Chiang, Wang-Chien Lee. <br>
          The 28th ACM SIGKDD Conference on Knowledge Discovery and Data Mining (KDD' 22)
      </li>
     </ul>
  </article>
</div>
