{% include base_path %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <li>
    {% if post.citation and post.paperurl %}
      <p>{{ post.citation }} <a href=" {{ post.paperurl }} "><u>[pdf]</u></a></p>
    {% elsif post.citation %}
      <p> {{ post.citation }} </p>
    {% elsif post.paperurl %}
      <p>Download <a href=" {{ post.paperurl }} "><u>here</u></a></p>
    {% endif %}
    </li>
  </article>
</div>
