{% include base_path %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    
    
    <li>
        <b>LinE: Logical Query Reasoning over Hierarchical Knowledge</b>
        <a href="{{ "http://nelsonhuangzijian.github.io/files/LinE_Logical_Query_Reasoning_over_Hierarchical_Knowledge_Graphs.pdf" }}"><u>[pdf]</u></a>
        <a href="{{ "https://github.com/nelsonhuangzijian/LinE" }}"><u>[code]</u></a><br>
        <b>Zijian Huang</b>, Meng-Fen Chiang, Wang-Chien Lee. <br>
        The 28th ACM SIGKDD Conference on Knowledge Discovery and Data Mining (KDD' 22)
    </li>
  </article>
</div>
