{% include base_path %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    
    
    <li><b>Zijian Huang</b>, Meng-Fen Chiang, Wang-Chien Lee. 
        "LinE: Logical Query Reasoning over Hierarchical Knowledge" 
        in Proc. of the 28th ACM SIGKDD Conference on Knowledge Discovery and Data Mining, Washington, DC, Aug. 2022. <b>[KDD ’22]</b>
        <a href="{{ "http://nelsonhuangzijian.github.io/files/LinE_Logical_Query_Reasoning_over_Hierarchical_Knowledge_Graphs.pdf" }}"><u>[pdf]</u></a>
        <a href="{{ "https://github.com/nelsonhuangzijian/LinE" }}"><u>[code]</u></a>
    </li>
  </article>
</div>
